$secondary: #f4ebb5;
$navbar-height: 6rem;
$site-yellow: #f1bd48;
$site-brown: #461712;
$site-red: #ef6632;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// General CSS rules for the website

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.15;
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

#page {
	height: 100%;
	margin: 0;
	padding: 0;
}

// Site-wide CSS classes

.burger-background {
	opacity: 0.18;
	top: 0;
	left: 0;
	position: absolute;
	object-fit: cover; // Responsive background
	object-position: 50% 50%;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.page-title-section {
	height: 38rem;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.page-title {
		font-size: 10rem;
		color: $site-brown;
		-webkit-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
	}
}

// Class specific CSS rules

// Card link general CSS rules:
.card-link {
	margin: 0;
	padding: 0;
}

.card-link:hover {
	text-decoration: none;
}

// Start main nav CSS

#main-nav {
	background-color: $secondary;
	display: flex;
	padding: 0 1rem;

	#main-menu {
		padding-right: 0;
		display: flex;
		align-items: center;
		direction: rtl;

		li {
			padding: 0 1rem;

			a {
				color: $site-brown;
				font-size: 1.5rem;
				font-weight: bold;
			}
		}

		li:first-child {
			padding-right: 0;
		}

		li:last-child {
			a {
				color: $secondary;
				background-color: $site-brown;
				padding: 0.3rem 1.5rem;
				border-radius: 2rem;
			}
		}
	}

	.navbar-brand {
		max-height: 100%;
		display: flex;

		img {
			object-fit: contain;
			display: flex;
		}
	}
}

@media screen and (max-width: $lg) {
	#main-nav {
		min-height: 2rem;
		align-items: flex-start;
		padding: 0;

		.navbar-collapse {
			padding-bottom: 1.5rem;
		}

		#main-menu {
			li {
				padding: 0;
			}
		}

		.navbar-brand {
			width: 2rem;
			height: 2rem;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			padding: 0;

			img {
				height: 2rem;
				width: 2rem;
			}
		}
	}
}

@media screen and (min-width: $lg + 1) {
	#main-nav {
		height: $navbar-height;
		direction: ltr;
	}
}

// End main nav CSS

// Start homepage main carousel CSS

.home-main-carousel {
	.home-banner {
		.banner-img {
			min-width: 100%;
			margin-top: -3rem;
		}
	}
}

@media screen and (max-width: $md) {
	.home-main-carousel {
		.banner-img {
			margin-top: 0 !important;
			object-fit: cover;
			height: 12rem;
			object-position: 20% 20%;
		}
	}
}

// End homepage main carousel CSS

// Start homepage card section CSS

.home-card-section {
	justify-content: center;

	.card {
		margin: 2rem;
		height: 14rem;
		width: 14rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 50%;

		.card-icon {
			font-size: 4rem;
		}

		.text-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;

			.card-text {
				font-weight: 700;
				margin-bottom: 0;
				font-size: 1.75rem;
			}

			.div-line {
				width: 100%;
				height: 2px;
				background-color: #ffffff;
			}
		}
	}
}

@media screen and (max-width: $sm) {
	.home-card-section {
		.card-link {
			margin-left: 0;

			.card {
				height: 8rem;
				width: 8rem;
				margin: 1rem;
			}
		}
	}
}

@media screen and (min-width: $md + 1) and (max-width: $xl) {
	.home-card-section {
		.card-link {
			.card {
				height: 11rem;
				width: 11rem;
				margin: 1rem;
			}
		}
	}
}

// End homepage card section CSS

// Start home branches section CSS

.home-branches-section {
	height: 100%;
	background-image: url("../img/knife-in-burger.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.container-branches {
		display: flex;
		flex-wrap: wrap;

		.card-link {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			height: 32rem;
			width: 32rem;
			margin-top: 35vh;
			margin-right: 18vw;
			background-color: $site-yellow;
			border-radius: 50%;
			padding: 5rem 3.5rem;
			text-align: center;

			.top-text {
				font-size: 9rem;
				font-weight: 700;
				color: #461712;
				margin: 0;
				padding: 0;
			}

			.bottom-text {
				font-size: 3rem;
				font-weight: 700;
				background-color: #461712;
				color: $site-yellow;
				border-radius: 1rem;
				margin: 0;
				margin-bottom: 4rem;
				padding: 0;
			}
		}
	}
}

@media screen and (max-width: $md) {
	.home-branches-section {
		.container-branches {
			.card-link {
				height: 22rem;
				width: 22rem;
				margin: 35vh auto;
				padding: 5rem 2rem;

				.top-text {
					font-size: 6rem;
				}

				.bottom-text {
					font-size: 2rem;
				}
			}
		}
	}
}

// End home branches section CSS

// Start home join family section CSS

.home-join-family {
	padding: 7.5rem 0;
	position: relative;
	overflow: hidden;

	.headline-rows {
		-webkit-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		transform: rotate(5deg);
		margin: auto;
		display: flex;
		flex-direction: column;
		width: 50rem;
		max-width: 100%;

		h3 {
			font-size: 6rem;
			font-weight: 700;
			line-height: 1;
		}

		.top-row {
			text-align: right;
			padding-right: 5rem;
			color: $site-brown;
		}

		.middle-row {
			text-align: left;
			color: $site-brown;
		}

		.bottom-row {
			text-align: right;
			color: $site-yellow;
		}
	}

	.join-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $site-brown;
		color: $site-yellow;
		width: 22rem;
		height: 5rem;
		margin: auto;
		margin-top: 3rem;
		border-radius: 5rem;
		font-size: 3rem;
	}
}

@media screen and (max-width: $md) {
	.home-join-family {
		.headline-rows {
			h3 {
				font-size: 5rem;
			}

			.top-row {
				text-align: center;
				padding: 0;
			}

			.middle-row {
				text-align: center;
			}

			.bottom-row {
				text-align: center;
			}
		}
	}
}

// End home join family section CSS

// Start home join club section CSS

.home-join-club {
	padding: 2.5rem 10rem;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background-color: $site-brown;

	.left-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.headline-rows {
		-webkit-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		width: 42rem;

		h3 {
			font-size: 6rem;
			font-weight: 700;
			line-height: 1;
			margin: 0;
		}

		.top-row {
			text-align: center;
			padding-right: 5rem;
			color: $site-yellow;
		}

		.middle-row {
			text-align: left;
			color: $site-yellow;
		}

		.bottom-row {
			text-align: right;
			color: $secondary;
		}
	}

	.join-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $site-yellow;
		color: $site-brown;
		width: 22rem;
		height: 5rem;
		margin: 0 auto;
		margin-top: 3rem;
		border-radius: 5rem;
		font-size: 3rem;
	}
}

@media screen and (max-width: $md) {
	.home-join-club {
		padding: 2.5rem 0;
		flex-direction: column;

		.headline-rows {
			width: 21rem;

			.top-row {
				text-align: center;
				padding: 0;
			}

			.middle-row {
				text-align: center;
			}

			.bottom-row {
				text-align: center;
			}
		}

		.right-column {
			width: 15rem;
			align-self: center;
		}
	}
}

// End home join club section CSS

// Restaurant menu page

.delivery-number-section {
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.restaurant-menu-section {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: $secondary;
	padding-bottom: 16rem;

	.menu-row {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin-top: -20rem;

		.menu-tab {
			border-radius: 50%;
			height: 65rem;
			width: 65rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.burger-toppings {
				display: flex;
				flex-direction: row;

				.red-circle {
					display: flex;
					height: 15rem;
					width: 15rem;
					border-radius: 50%;
					padding: 1rem;
					margin-left: 1rem;
					margin-right: 1rem;
					margin-top: 7rem;
					margin-bottom: -20rem;
					background-color: $site-red;
					align-content: center;
					justify-content: center;

					img {
						display: block;
						margin: auto;
					}
				}
			}

			@media screen and (min-width: $xl) {
				.menu-image-1 {
					height: 35rem;
					width: auto;
				}

				.menu-image-2 {
					height: 68rem;
					width: auto;
					margin-top: -15rem;
				}

				.menu-image-3 {
					height: 47.5rem;
					width: auto;
				}

				.menu-image-4 {
					height: 45rem;
					width: auto;
				}
			}
		}

		.yellow-menu-circle {
			background-color: $site-yellow;
			margin-right: -3rem;
			justify-self: space-between;
		}

		.brown-menu-circle {
			background-color: $site-brown;
			margin-left: -3rem;
			justify-self: space-between;
		}
	}

	.menu-row:first-of-type {
		margin-top: 0;
	}

	.reverse-row {
		flex-direction: row-reverse;
	}
}

// Footer section

.footer-wrapper {
	.footer-top {
		height: 16rem;
		padding: 1rem 0;
		background-color: $site-brown;
		display: flex;
		align-content: center;
		justify-content: center;

		.footer-link {
			display: flex;
			height: 100%;

			.footer-icon {
				height: 100%;
			}
		}
	}

	.footer-bottom {
		height: 4rem;
		background-color: $site-yellow;
	}
}
