$secondary: #f4ebb5;
$navbar-height: 7.5rem;

body {
	background-color: #ffffff;
}

#main-nav {
	height: $navbar-height;
	background-color: $secondary;

	#main-menu {
		padding-right: 0;

		li {
			padding: 0.5rem 1rem;

			a {
				color: #51312d;
				font-size: 1.5rem;
				font-weight: bold;
			}
		}

		li:first-child {
			padding-right: 0;
		}
	}

	.navbar-brand {
		max-height: 100%;
		display: flex;

		img {
			object-fit: contain;
			display: flex;
		}
	}
}
